/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    
    .button {
  -fx-transition-duration: 0.4s;
}

.button:hover {
  -fx-background-color: #4CAF50; /* Green */
  -fx-color: white;
}



}


.scrollPane{
    -fx-background-radius: 25px;
    -fx-background-color: transparent;    
}
.scrollPane > .viewport{
    -fx-background-color: transparent;
}